.idea

### CATALYST ###
datafiles/DSSleep.dll
datafiles/DSSleep.so
scripts/dssleep_init
scripts/dssleep_is_initialized
scripts/dssleep_cleanup
scripts/dssleep_nanoseconds
scripts/dssleep_microseconds
scripts/dssleep_milliseconds
scripts/dssleep_seconds
scripts/dssleep_minutes
objects/_dssleep_main
objects/dssleep_example
rooms/dssleep_example_room
scripts/test_suite_end
scripts/test_suite_init
scripts/test_assert_same
scripts/dectohex
scripts/hextodec
scripts/string_explode
scripts/array_implode
scripts/string_reverse
scripts/string_mask
scripts/url_encode
scripts/url_decode
scripts/string_prepend
scripts/string_append
scripts/round_whole
scripts/netevent_to_string
scripts/debug_log
scripts/get_nearest_instances
scripts/get_furthest_instances
scripts/bit_from_byte
scripts/extract_header_from_string
scripts/pulse
scripts/color_lerp
### CATALYST ###